node_modules
.env
.env.local
.env.*.local
dist
dist-ssr
*.local
.DS_Store
.vscode
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# Firebase Private Keys
*-service-account.json
serviceAccountKey.json
